# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
myenv/

# Django specific
*.log
db.sqlite3
media/
staticfiles/
*.pyc
*.pyo
*.pyd

# Local development settings
.env
*.env

# Ignore migrations cache (optional)
*/migrations/__pycache__/

# VS Code settings (if using VS Code)
.vscode/

# JetBrains IDE settings (if using PyCharm)
.idea/

# macOS files
.DS_Store

# Windows files
Thumbs.db
